{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}" />

<center>

<p><big>{{ to_move }}</big></p>

{% if messages %}
    {% for message in messages %}
		<p>{{ message }}</p>
    {% endfor %}
{% endif %}


<form id="abandon_form" method="post" action="{% url 'board:abandon' board.id %}">
	{% csrf_token %}
	<input type="button" value="Abandon Game" id='abandon_button'>
</form>
<script>
	var abandon_form = document.getElementById('abandon_form')
	var abandon_button = document.getElementById('abandon_button')
	abandon_button.addEventListener('click', function() {
		if(confirm("Abandoning the game cannot be undone and prevents you from returning to it later. Are you sure?")) {
			abandon_form.submit()
		}
	})
</script>




<script>
	var idToSelectable = {}
</script>

<table border=1>
{% for row in rows %}
	<tr>
	{% for square in row %}
		<td>
		{% with square_counter=forloop.counter0|stringformat:"s" row_counter=forloop.parentloop.counter0|stringformat:"s" %}
			{% with id=square_counter|add:","|add:row_counter %}
				
				{% if square %}
					<img src="{% static square %}" width="45" height="45" id="{{ id }}">
					<script> idToSelectable['{{ id }}'] = true </script>
				{% else %}
					<div style="width:45px; height:45px;" id="{{ id }}"></div>
				{% endif %}
				
			{% endwith %}
		{% endwith %}
		</td>
	{% endfor %}
	</tr>
{% endfor %}
</table>

</center>

<form id="move" method="post" action="{% url 'board:move' board.id %}">
	{% csrf_token %}
	<input type="hidden" name="from_x" id="from_x"/>
	<input type="hidden" name="from_y" id="from_y"/>
	<input type="hidden" name="to_x" id="to_x"/>
	<input type="hidden" name="to_y" id="to_y"/>
</form>

<script>
	var selectedId = undefined

	for(var x = 0; x < 12; x += 1)
		for(var y = 0; y < 12; y += 1)
			(function(x, y) {
				var objId = x + ',' + y
				var obj = document.getElementById(objId)
				obj.addEventListener('click', function() {
					if(selectedId) { // already has selection
						if(selectedId === objId) { // clicked same square
							obj.className = ''
							selectedId = undefined
						}
						else { // move
							document.getElementById('to_x').value = x
							document.getElementById('to_y').value = y
							//document.forms[0].submit()
							document.getElementById('move').submit()
						}
					}
					else { // picking piece
						if(idToSelectable[objId]) { // selectable piece
							obj.className = 'selected_piece'
							selectedId = objId
							document.getElementById('from_x').value = x
							document.getElementById('from_y').value = y
						}
						// else ignore this input
					}
				})
			})(x, y)
</script>
