
{% if messages %}
    {% for message in messages %}
		<p>{{ message }}</p>
    {% endfor %}
{% endif %}

{% if username %}
	<form id="logout" method="post" action="{% url 'board:logout' %}">
		{% csrf_token %}
		<span>Logged in as {{ username }}.</span> <input type="submit" value="Log Out">
	</form>
	
	{% if board_list %}
		<p>Games in progress:</p>
		<ul>
		{% for board in board_list %}
			<li><a href="{% url 'board:board' board.id %}">{{ board }}</a></li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No games currently in progress.</p>
		
		<form id="newgame" method="post" action="{% url 'board:newgame' %}">
			{% csrf_token %}
			<fieldset>
				<legend>Start a new game</legend>
				<label>Against whom?</label> <input type="text" name="opponent_username" placeholder="username"> <br>
				<label>I play as:</label><br>
					<label for="radio-orange">Orange</label>
					<input type="radio" id="radio-orange" name="my_color" value="orange"> <br>
					
					<label for="radio-blue">Blue</label>
					<input type="radio" id="radio-blue" name="my_color" value="blue"> <br>
					
					<label for="radio-random">Random</label>
					<input type="radio" id="radio-random" name="my_color" value="random"> <br>
				<input type="submit" value="Play">
				
				<p style="font-size:smaller;">Ugliest UI ever.</p>
			</fieldset>
		</form>
		
	{% endif %}
{% else %}
	<form id="login" method="post" action="{% url 'board:login' %}">
		{% csrf_token %}
		<fieldset>
			<legend>Log in to play!</legend>
			<label>Username:</label> <input type="text" name="username" placeholder="username"> <br>
			<label>Password:</label> <input type="password" name="password" placeholder="omg"> <br>
			<input type="submit" value="Log In">
		</fieldset>
	</form>
	
	<form id="register" method="post" action="{% url 'board:register' %}">
		{% csrf_token %}
		<fieldset>
			<legend>Don't have an account? Make one now. It's fast and easy!</legend>
			<label>Username:</label> <input type="text" name="username" placeholder="username"> <br>
			<label>Password:</label> <input type="password" name="password1" placeholder="password"> <br>
			<label>Password (again):</label> <input type="password" name="password2" placeholder="password"> <br>
			<input type="submit" value="Register">
		</fieldset>
	</form>
{% endif %}
